<section id="about-view">
  <article class="layout-1 layout">
    <div class="container">
      <div class="row">
        <div class="col-lg-offset-6 col-lg-6 col-md-12">
          <h2 class="big-title">High<span class="medium-title">Values</span></h2>
          <p>Our success is not only due to the quality of our work; it’s down to attitude, our approach and the way we treat our clients.</p>
        </div>
      </div>
    </div>
  </article>
  <article class="layout-2 layout">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="number hidden-xs">01</div>
          <div class="wrapper-icon">
            <div class="icon"><i class="icon-eye-open"></i>
            </div>
          </div>
          <h3>Focus</h3>
          <hr class="hidden-sm hidden-xs">
          <p>We have a 100% commitment to making all our sites the best they can possibly be, no matter what it takes to get there.</p>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="number hidden-xs">02</div>
          <div class="wrapper-icon">
            <div class="icon"><i class="icon-heart"></i>
            </div>
          </div>
          <h3>Passion</h3>
          <hr class="hidden-sm hidden-xs">
          <p>Our desire to produce good work runs deep – that’s what lets us handle every project with fresh energy and enthusiasm.</p>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="number hidden-xs">03</div>
          <div class="wrapper-icon">
            <div class="icon"><i class="icon-exchange"></i>
            </div>
          </div>
          <h3>Empathy</h3>
          <hr class="hidden-sm hidden-xs">
          <p>While we share our knowledge and experience, we listen hard to understand your business and your needs.</p>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="number hidden-xs">04</div>
          <div class="wrapper-icon">
            <div class="icon"><i class="icon-group"></i>
            </div>
          </div>
          <h3>Teamwork</h3>
          <hr class="hidden-sm hidden-xs">
          <p>We are united with you in the drive to get the best from your project – think of us as extra members of your team with all the skills you need.</p>
        </div>
      </div>
    </div>
  </article>
  <h2 class="team-title">Meet the team</h2>
  <article ng-repeat="profile in config.team" ng-class="[profile.profile_class, profile.orientation]" ng-style="{backgroundImage: 'url('+profile.silhouettes.regular+')'}" class="layout-3">
    <img ng-src="{{ profile.silhouettes.thumb }}" width="100%" class="profile-thumb visible-xs">
    <img ng-src="{{ profile.silhouettes.regular }}" width="100%" class="profile-thumb visible-sm">
    <div class="container">
      <div class="row">
        <div ng-class="{'col-md-offset-6':profile.orientation == 'left'}" class="col-md-6">
          <div ng-bind-html-unsafe="profile.description | md" class="profile"></div>
          <ul class="social">
            <li ng-repeat="social in profile.social"><a ng-href="{{ social.link }}" target="_blank"><span class="bg-icon"><i ng-class="'icon-' + social.icon"></i></span>{{ social.name }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </article>
</section>