<section id="home-view" class="container">
  <div video-background="Home.videoSrcs"></div>
  <div class="row">
    <div class="col-md-12 spoon">
      <img src="images/spoon.png" alt="A spoon image" class="img-responsive">
    </div>
    <div class="description">
      <div class="col-md-offset-7 col-md-5">
        <h3>Beautiful form,<br>perfect function.</h3>
        <p>We create beautifully-crafted websites that stand out from the crowd – and perfect function comes as standard.</p><a href="#/work">See how we work</a>
      </div>
    </div>
  </div>
</section>