<section id="services-view">
  <article class="layout-1 layout">
    <div class="container">
      <div class="row">
        <div class="col-lg-offset-6 col-lg-6 col-md-12">
          <h2 class="big-title">Better<span class="medium-title">Thinking</span></h2>
          <p>With an understanding that comes from obsessive attention to detail, our outstanding creativity brings you an effective, bespoke, perfectly-designed result.</p>
        </div>
      </div>
    </div>
  </article>
</section>