<section id="work-view">
  <article class="layout-1 layout">
    <div class="container">
      <div class="row">
        <div class="col-lg-offset-6 col-lg-6 col-md-12">
          <h2 class="big-title">Our life’s<span class="medium-title">work</span></h2>
          <p>We put our hearts and souls into making every project we undertake the very best it can possibly be – and we don’t stop until we get there.</p>
        </div>
      </div>
    </div>
  </article>
</section>