<!DOCTYPE html>
<!--[if IE 8]><html lang="en" class="no-js ie8"></html><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
  <!--<![endif]-->

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Archotype – World Class Web Solutions Solutions</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Gilda+Display" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="styles/1cca2e79.main.css">
    <script src="scripts/f7f27360.init.js"></script>
  </head>

  <body ng-app="ArchotypeApp" ng-class="[PageColor]">
    <script src="scripts/10eeca02.oldIE.js"></script>
    <div ng-class="CurrentRoute.globalClass" class="viewport">
      <nav ng-controller="NavbarCtrl as Nav" ng-hide="Nav.close" ng-animate="{show: 'open-menu', hide: 'close-menu'}" class="main-menu">
        <ul>
          <li class="close"><a href="#" ng-click="toggleMenu($event)"><span class="glyphicon glyphicon-remove"></span></a>
          </li>
          <li ng-repeat="route in Nav.headPages" class="item">
            <a ng-href="#{{route.path}}" ng-class="{active: route.active}" ng-bind="route.conf.name"></a>
          </li>
        </ul>
      </nav>
      <button type="button" ng-click="toggleMenu($event)" class="navbar-toggle helper-box hidden-md hidden-lg"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
      </button>
      <button type="button" class="navbar-toggle helper-box right go-to-top"><i class="icon-arrow-up"></i>
      </button>
      <div class="frame">
        <div class="content-wrapper">
          <header class="main-header navbar">
            <div class="container">
              <div class="navbar-header"><a href="#/" class="navbar-brand"><h1>{archotype}</h1><img src="images/logo.png" alt="{archotype}"><h2 class="legend">World class web solutions</h2></a>
              </div>
              <div ng-controller="NavbarCtrl as Nav" class="navbar-collapse collapse pull-right">
                <ul class="nav navbar-nav">
                  <li ng-repeat="route in Nav.headPages" class="item">
                    <a ng-href="#{{route.path}}" ng-class="{active: route.active}" ng-bind="route.conf.name"></a>
                  </li>
                </ul>
              </div>
            </div>
          </header>
          <section ng-view=""></section>
          <div class="content-finish"></div>
        </div>
        <footer ng-controller="ConfigCtrl" class="container main-footer">
          <div class="row">
            <div class="col-md-3 col-sm-4">
              <img src="images/logo.png" alt="{archotype}" width="60%" class="logo">
              <h2 class="legend">World class web solutions</h2>
            </div>
            <div class="col-md-7 col-sm-5">
              <p>We like meeting new people. email us at&nbsp;<a href="mailto:info@archotype.com">info@archotype.com</a>
                <br>call US: 313-555-5555</p>
            </div>
            <div class="col-md-2 col-sm-3">
              <ul>
                <li ng-repeat="social in config.social"><a ng-href="{{social.link}}" target="_blank"><i ng-class="'icon-' + social.icon"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </body>
  <script src="bower_components/jquery/jquery.js"></script>
  <script src="bower_components/AngularJS/angular.js"></script>
  <script src="scripts/04cb06bb.plugins.js"></script>
  <script src="scripts/64eab6d6.app.js"></script>

</html>