<div class="bg-video-wrapper">
  <video preload="auto" muted="true" loop="loop" canplay="false" autoplay="true">
    <source ng-src="{{ VideoBG.src.webm }}" type="video/webm">
    <source ng-src="{{ VideoBG.src.mp4}}" type="video/mp4">
  </video>
  <div interval="2000" class="carousel slide">
    <div class="carousel-inner">
      <div class="item active">
        <img src="images/mobile_background/TIM_DE_runnerinforest-mobile.jpg">
      </div>
      <div class="item">
        <img src="images/mobile_background/ER_IN_gopromc-mobile.jpg">
      </div>
      <div class="item">
        <img src="images/mobile_background/BA_LA_jellyfish-mobile.jpg">
      </div>
      <div class="item">
        <img src="images/mobile_background/TIM_DE_train-mobile.jpg">
      </div>
      <div class="item">
        <img src="images/mobile_background/ER_IN_girllostintranslation-mobile.jpg">
      </div>
      <div class="item">
        <img src="images/mobile_background/ER_IN_hammoc-mobile.jpg">
      </div>
      <div class="item">
        <img src="images/mobile_background/BA_LA_pool-mobile.jpg">
      </div>
      <div class="item">
        <img src="images/mobile_background/ER_IN_hitchhiking-mobile.jpg">
      </div>
      <div class="item">
        <img src="images/mobile_background/JR_NY_coupleinbed-mobile.jpg">
      </div>
      <div class="item">
        <img src="images/mobile_background/ER_IN_goprowaterfall-mobile.jpg">
      </div>
      <div class="item">
        <img src="images/mobile_background/ER_IN_couplemotorcycle-mobile.jpg">
      </div>
      <div class="item">
        <img src="images/mobile_background/BA_LA_nightonbeach-mobile.jpg">
      </div>
      <div class="item">
        <img src="images/mobile_background/ER_IN_palms-mobile.jpg">
      </div>
      <div class="item">
        <img src="images/mobile_background/BA_LA_runner-mobile.jpg">
      </div>
      <div class="item">
        <img src="images/mobile_background/TIM_DE_runnerincity-mobile.jpg">
      </div>
      <div class="item">
        <img src="images/mobile_background/TIM_car_ride_bridge-mobile.jpg">
      </div>
      <div class="item">
        <img src="images/mobile_background/ER_IN_flareparasol-mobile.jpg">
      </div>
      <div class="item">
        <img src="images/mobile_background/JR_NY_window-mobile.jpg">
      </div>
      <div class="item">
        <img src="images/mobile_background/BA_LA_girlinla-mobile.jpg">
      </div>
    </div>
  </div>
  <div class="mask"></div>
</div>